.cover{
    margin: 0 auto;
    width: 100%;
    display: flex;
    font-family: Arial, Helvetica, sans-serif;

}
li{
    
    list-style-type: none
}
.left{
  
    width: 12%;
    background-color: #191718;
    
}
.right{
    width: 100%;
    background-color: rgb(255, 255, 255);
   
}
.item{
    width: 100%;
    left: 16px;
    top: 14px;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 19px;
    padding: 8px 20px;
}
.hover:hover{
    color: #ffffff;
    background-color: #5C5C5C;

}
.item:hover{
    color: #ffffff;
    background-color: #5C5C5C;

}
hr{
    border: 0;
    height: 0;
 
    border-bottom: 1px solid #5C5C5C;
    margin: 0px;
}
button{
    background-color: black;
    color: aliceblue;
    text-align:left ;
    color: #AAAAAA;
    border: 0px;
    padding: 0px;
    height: 40px;
}
.hover{
    height: 42px;
}
.logo{
    width: 310px;
height: 105px;
margin:6px 0px;
}
.image{
    display: flex;
    justify-content: center;

}
.container{
    width: 85%;
    margin: 0 auto;
}
.dong2{
    background-color: #EFEFEF;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 19px;
    align-items: center;
    text-align: center;
    color: #000000;
    padding: 33px 122px;
    margin: 30px 0px;
}
b{
    line-height: 29px;
}
.cot1{
    width: 300px;
    
}
.cot2{
    width: 300px;
    margin: 0px 34px;
}
.imgcol1{
    float: left;
    width: 87px;
    padding-right: 11px;
}
.textcol1{
    font-size: 11px;
}
.dong3{
    display: flex;
    margin-bottom: 110px;
}
.footer{
    width: 80%;
    color: #3E3E3E;
    padding: 20px 0px;
    margin:0 auto;
}
@media screen and (max-width: 614px) {
    .dong3{
        display: block;
    }  
    .cot2{
        width: 300px;
    margin: 20px 0px;
    }
    .dong2{
        padding: 33px 54px;
    }
}
@media screen and (max-width: 572px) {
.logo{
    width: 95%;
}
}